<%= form_with(model: tutoring, local: true) do |form| %>
  <% if tutoring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutoring.errors.count, "error") %> prohibited this tutoring from being saved:</h2>

      <ul>
        <% tutoring.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
